:root {
  --main-font: "Open Sans", sans-serif;
  --main-text-color: #303030;
  --secondary-text-color: #555555;
  --accent-color: #ff6c00;
  --transition: 300ms cubic-bezier(0.07, 0.62, 0.97, 0.7);
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
  color: currentColor;
}

/* -----------***| header  |***---------- */
.header {display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {display: flex;
  justify-content: center;
  align-items: center;}

  